*
{/* 
    
    color: crimson;*/
    font-size: 1.1em;
    font-family: "Geologica";
} 

#conteneur{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: aqua;
    
}


#elem1{
    
    background-color: blueviolet;
}

#elem2{
    background-color: hotpink;
}

#elem3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.1;
    background-color: palegreen;
}

.elem{
    text-align: center;
    flex-grow: 1;
    margin: 02px 0px;
}

.souselem{
    margin: 2px;
    background-color: blue;
}






